body { background: #dfc490; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 16px; display: flex; }
.block-database-0 { color: #4ac277; font-size: 16px; margin-bottom: 5px; }
.block-search-1 { color: #d46c8d; font-size: 12px; margin-bottom: 5px; }
.block-uploader-2 { color: #535778; font-size: 17px; margin-bottom: 5px; }
.block-validator-3 { color: #e07c9a; font-size: 18px; margin-bottom: 5px; }
.block-payment-4 { color: #de89b9; font-size: 21px; margin-bottom: 5px; }
.block-cluster-5 { color: #e29b22; font-size: 20px; margin-bottom: 5px; }
.block-product-6 { color: #b118ad; font-size: 20px; margin-bottom: 5px; }
.block-cluster-7 { color: #fcb66; font-size: 16px; margin-bottom: 5px; }
.block-helper-8 { color: #f1f101; font-size: 16px; margin-bottom: 5px; }
.block-cluster-9 { color: #adc68f; font-size: 16px; margin-bottom: 5px; }